
<div class="main-c">
    <div class="header-c">
        <div class="feadBackHead">
            <p >{{feedBackLang}}</p>
        </div>
    </div>
    <div class="bottom-c">
        
        <form>
            <div class="feedbackForm">
                <textarea id="feedback"  [matKeyboard]="keyBoardLanguage"     class ="feedbackArea" name="feedback" rows="4" cols="50">
                 
                </textarea> 
            </div>
             

            <!-- <textarea id="feedback"  (click)="openKeyboard(locale)"    class ="feedbackArea" name="feedback" rows="4" cols="50">
               
            </textarea> -->
            <div class="botomSumbitBtn" >
                <button class="btnClass" (click)=submitClick() >SUBMIT</button>
            </div>
           
           
        </form>
    </div>
    

</div>

<!-- 

    <div class="headWrapperText">
    
<div class="feadBackHead">
    <p >{{feedBackLang}}</p>
</div>
</div>


    <div class="feedbackWrapper">
    <div class="feedbackChild">
    <form class="feedbackForm">
        <textarea id="feedback"  class ="feedbackArea" name="feedback" rows="4" cols="50">
           
            </textarea>
        <br><br>
        
            <button class="btnClass" (click)=submitClick() >SUBMIT</button>
        </form>
        </div>
    </div>

 -->

    


 