<!-- <p id="text">
  Click the below to toggle full screen
</p>
<input type="button" value="click to toggle fullscreen on the body"  class="fullscreenIcon" id="toggeleBtn" (click)="toggleFullScreen(true)" /> -->
 <!-- <img class="lang-logo" id="toggeleBtn"  src="./assets/images/fullscreen.jpg" (click)="toggleFullScreen(true)" />   -->


<div class="headerWrapper">
    <nav class="navbar">

        <!-- logo -->
        <div class="navbar-brand">
          <a class="navbar-item">
            <img  src="./assets/images/uae.jpeg" class="imageleft" >
            <img  src="./assets/images/weqayati2.jpeg" class="imageright" >
          </a>
        </div>
  
      </nav>
</div>
<!-- <app-smiley></app-smiley>  -->